pi/__pycache__
pi/nets


**/.vs/**
**/generated/**
**/generated/**
**/obj/**
**/bin/**
*.bak
**/db/*
**/incremental_db/*
*.pin
*.qsf
*.asm.rpt
*.done
*.fit.rpt
*.fit.summary
*.flow.rpt
*.map.rpt
*.map.summary
*.sof
*.sta.rpt
*.sta.summary


/unity/Temp/**
/unity/Library/PackageCache/**
/unity/Library/metadata/**
/unity/Library/ScriptAssemblies/**
/unity/Library/ShaderCache/**
/unity/Library/shadercompiler-UnityShaderCompiler.exe0.log
/unity/Assets/MixedRealityToolkit.SDK/**
/unity/Assets/MixedRealityToolkit/**
/unity/Assets/MixedRealityToolkit.Providers/**
/unity/Assets/MixedRealityToolkit.Services/**
/unity/Assets/JsonDotNet/**
/unity/Library/s**/*.log
/unity/Library/StateCache/**
